
<ion-navbar *navbar>
  <ion-title>
    Pick Your Challenge!
  </ion-title>
</ion-navbar>

<ion-content class="page2">
  <ion-list radio-group>
    <ion-list-header>
      Type
    </ion-list-header>
    <ion-item *ngFor="#operator of operators">
      <ion-label>{{operator.name}}</ion-label>
      <ion-radio checked="false" value="{{operator.symbol}}" (click)="selectOperator(operator)"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-list radio-group>
    <ion-list-header>
      How many questions?
    </ion-list-header>

    <ion-item *ngFor="#qc of questionCounts">
      <ion-label>{{qc}}</ion-label>
      <ion-radio checked="false" value="{{qc}}" (click)="selectQuestionCount(qc)"></ion-radio>
    </ion-item>
  </ion-list>

  <button full *ngIf="selectedOperator && questionCount">
    <ion-icon name="checkmark"></ion-icon>
    Get Started!
  </button>
</ion-content>
