
<ion-navbar *navbar>
  <ion-title>
    Pick Your Challenge!
  </ion-title>
</ion-navbar>

<ion-content class="page2">
  <ion-list radio-group>
    <ion-list-header>
      Type
    </ion-list-header>
    <ion-item *ngFor="#operator of operators">
      <ion-label>{{operator.name}}</ion-label>
      <ion-radio checked="false" value="{{operator.symbol}}" (tap)="selectOperator(operator)"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-list radio-group>
    <ion-list-header>
      Which challenge do you want to take?
    </ion-list-header>

    <ion-item *ngFor="#qt of quizTypes">
      <ion-label>
        <h2>{{qt.title}}</h2>
        <p>{{qt.seconds/60}} minutes, {{qt.questionCount}} questions</p>
      </ion-label>
      <ion-radio checked="false" (tap)="selectQuizType(qt)"></ion-radio>
    </ion-item>
  </ion-list>

  <button full *ngIf="selectedOperator && selectedQuizType" (tap)="startQuiz()">
    <ion-icon name="checkmark"></ion-icon>
    Get Started!
  </button>
</ion-content>
